.forgot-password-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.forgot-password-form {
  width: 100%;
  max-width: 52rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  flex: 1;
}

@media (min-width: 768px) {
  .forgot-password-form {
    text-align: left;
    align-items: flex-start;
  }
}
