.login-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.login-form {
  width: 100%;
  max-width: 26rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;

  flex: 1;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.form-actions {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.signup-section {
  margin-top: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* desktop */
@media (min-width: 768px) {
  .login-form {
    text-align: left;
    padding-left: 4rem;
    align-items: flex-start;
  }

  .form-fields {
    flex-direction: row;
    gap: 2rem;
    width: 100%;
  }

  .form-fields > * {
    flex: 1;
  }

  .form-actions {
    align-items: flex-start;
  }

  .signup-section {
    text-align: left;
    align-items: flex-start;
    margin-top: auto;
  }
}
